@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base{
  body {
      @apply dark:bg-gray-900
  }

  h1 ‘{
      @apply dark:text-white
  }

  h2 {
      @apply dark:text-white
  }

  h3 {
      @apply dark:text-white
  }

  p {
      @apply dark:text-white
  }
}